<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://unpkg.com/tailwind.css@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <head>
    <title>Study pro</title>
  </head>
  <body>
      {% block body %}
      {% endblock %}
  </body>